# Input File Names

In [136]:
import pandas as pd
import numpy as np

Google_Forms_File_Name = 'Google_Forms_Responses.xlsx' # Name of downloaded file from Google Forms in Excel format
AllSMS_CVS_File_Name =  'All_Phone_SMS.csv'   # File Generated from Super Backup

# Read Data from Google Forms File

In [137]:
table = pd.read_excel(Google_Forms_File_Name) # Read the Excel File
txidlist = table[["Name", "Transaction Medium", "Txn Id:"]] # Select the tables that I want to display or work on
List_GoogleForms_TxIDs = list(txidlist['Txn Id:']) #Put all the TxID from Google Forms in a List

print("Totle Number of Entries:", len(List_GoogleForms_TxIDs) )

Totle Number of Entries: 378

# Read The SMS

In [138]:
sms = pd.read_csv(AllSMS_CVS_File_Name)

bKashList = sms.loc[sms['phoneNumber'] == 'bKash' ][["phoneNumber", "message"]] # Seperate bKash SMS
NagadList = sms.loc[sms['phoneNumber'] == 'NAGAD' ][["phoneNumber", "message"]] # Seperate Nagad SMS

BaN = [bKashList, NagadList] # Put both Bkash & Nagad Lists together
MergeBkashNagad = pd.concat(BaN) # Merge them together

All_Bkash_Nagad_SMS = list(bKashList['message']) #Convert the SMS to list

In [143]:
success_count = 0
unmatch = 0
mismatch_table = pd.DataFrame( [["Name", "Transaction Medium", "Google Forms Entry"]] )
match_table = pd.DataFrame( [["Name", "Transaction Medium", "Txn Id:"]] )

for indx, row_data in txidlist.iterrows(): # Itterate over the Google Forms Table
                                           # | row_data[0]: Name | row_data[1]: Transaction Medium | row_data[2]: Txn Id |
    count = False
    for each_sms in All_Bkash_Nagad_SMS: # Select each each SMS
        if row_data[2] in each_sms.split(' '): # Break words in list and check if any TxID match with any word
            success_count = success_count + 1
            count = True
            match_table = match_table.append([[ row_data[0], row_data[1], row_data[2] ]]) #Entry to Match table if match found
            
            
    if count == False: #If anything didnt match, add row to mismatch table.
        unmatch = unmatch + 1
        mismatch_table = mismatch_table.append([[ row_data[0], row_data[1], row_data[2] ]]) #Entry to Mismatch table if match not found
        
print("\nTotal Automatic Match - ", success_count)
print("Total Automatic unmatch - ", unmatch)

Total Automatic Match -  307
Total Automatic unmatch -  71

In [140]:
match_table

                                0                   1           2
0                            Name  Transaction Medium     Txn Id:
0                Badhan Kumar Das               bkash  8AA5TNQOJT
0              Ahnaf Tahmid Saad                bkash  8AA1TNUIXD
0                 MD Nazmul Haque               bkash  8AA0TNZZ4O
0               Md. Shamiul Islam               bkash  8AA7TOL6M5
..                            ...                 ...         ...
0     Noor Mohammad Belal Towsif                bkash  8AH40Z2WHI
0   Abu Hena Mohammad Safa Sanjid               bkash  8AH50ZHHF1
0                Md. Johurul Alam               bkash  8AH20Z5ZRA
0                  Tanjil Rahman                bkash  8AH50ZNS5J
0            Shah Md. Safi Sadman               bkash  8AI0108T7K

[308 rows x 3 columns]

In [141]:
mismatch_table

                           0                   1                   2
0                       Name  Transaction Medium  Google Forms Entry
0               Mehedi Hasan              Rocket          2099308514
0      Mubashshir Shahriyar                bkash          1677300010
0        Obanti Orani sayeed              Rocket          2099666931
0       Minhajur Rahman Mahi               bkash          1715724712
..                       ...                 ...                 ...
0    Sedratul Muntaha Totini               bkash          8AH70T130Z
0              Rubayat Ecolo               Nogod            70NX3I7H
0   Nafisha Tabassum Tanjila               bkash          84H80V6PMO
0       Nihal Shafket Niloy                bkash          8AHO0XZHAU
0         Abdul Sattar Sanny               bkash          8AH90Z7V0V

[72 rows x 3 columns]